@charset "utf-8";
@import 'skeleton';
@import 'jquery.lightbox-0.5';
@import 'jquery-ui-1.9.2.custom';
@import 'owl.carousel';
@import 'owl.theme';

/*
Site: AaronEtchison.com
Version: 2.2
Date: 01/01/2014
*/

/* TOC
General Styles
Primary Navigation Styles
Type Styles
Link Styles
Page Styles
Forms
Media Queries
*/

@mixin box-shadow($top, $left, $blur, $color) {
	-webkit-box-shadow:$top $left $blur $color;
	-moz-box-shadow:$top $left $blur $color;
	box-shadow:$top $left $blur $color;
}

@mixin text-shadow($top, $left, $blur, $color) {
	-webkit-text-shadow:$top $left $blur $color;
	-moz-text-shadow:$top $left $blur $color;
	text-shadow:$top $left $blur $color;
}
	
@mixin border-radius($tleft, $tright, $bright, $bleft) {
	-webkit-border-radius:$tleft $tright $bright $bleft;
	-moz-border-radius:$tleft $tright $bright $bleft;
	border-radius:$tleft $tright $bright $bleft;
}

@mixin linear-gradient($top, $color, $color) {
-webkit-linear-gradient:$top $color $color;
-moz-linear-gradient:$top $color $color;
-o-linear-gradient:$top $color $color;
linear-gradient:$top $color $color;
}

$white: #CCCCCC;
$gray-light: #666666;
$gray-medium: #262626;
$gray-dark: #161616;
$black: #0E0E0E;
$red: #B01817;


/* General Styles */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

html, body, .conteiner-main {
	height: 100%;
	font-size: 16px;
}

body {
	background-color: $gray-medium;
	background-image: url("../images/wild_oliva.png");
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	height: 100%;
}

.container-main {
	height: auto; 
	min-height: 100%; 
}

.content-main {
	width: 100%;
	height: 100%;
	margin-top: 48px;
	padding-top: 60px;
	padding-bottom: 460px;
	background-color: $gray-medium;
	background-image: url("../images/wild_oliva.png");
	background-repeat: repeat;
}

footer {
	clear: both;
	position: relative;
	z-index: 7;
	width: 100%;
	height: 400px;
	margin-top: -400px;
	padding: 20px 10px;
	background-color: $gray-medium;
	background-color: rgba(0,0,0,0.5);
	@include box-shadow(-5px, -5px, 10px, $black);
}

.icon-avatar {
	float: left;
	width: 64px;
	height: auto;
	margin-right: 10px;
	padding: 0;
}

.icon-group {
	clear: both;
	width: 280px;
	margin: 0 auto;
}

.icon-contact {
	float: left;
  width: 36px;
  height: 36px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
  background-size: 32px 32px;
}

.icon-contact + p {
	float: left;
	margin: 8px 0 0 10px;
}

.icon-social {
	float: left;
  width: 64px;
  height: 64px;
	margin: 0 10px;
	padding: 0;
  background-size: 64px 64px;
  background: $gray-medium;
  border: 1px solid $gray-dark;
  transition: all 0.3s linear 0s;
	@include border-radius(10px, 20px, 10px, 20px);
  @include box-shadow(3px, 3px, 5px, $black);
}

.icon-social:hover, .icon-social:active {
	background: $gray-dark;
	border: 1px solid $gray-light;
	transform: scale(1.02);
}

.icon-social:hover .icon-social-content, .icon-social:active .icon-social-content {
	fill: $red;
}

.module {
	margin-bottom: 10px;
	padding: 15px;
	background-color: rgba(0,0,0,0.5);
	@include border-radius(10px, 30px, 10px, 30px);	
	@include box-shadow(3px, 3px, 5px, $black);
	transition: all 0.3s ease;
}

.module:hover {
	background-color: rgba(0,0,0,0.6);
}

.noPad {
	padding: 0;	
}

.rtFloat {
	float: right;
}

.ltFloat {
	float: left;
	margin-right: 10px;
}

.twitter-timeline {
	margin: 10px 0 0 0;
}

hr {
	border: 1px solid #444444;
}

.vrFade {
	border-right: 1px solid #444444; 
}

.hr-fade-dark {
	max-width: 960px;
	height: 3px;
	margin: 20px auto 20px auto;
	border-top: 1px solid $black;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(left,  rgba(38,38,38,0) 0%, rgba(38,38,38,1) 50%, rgba(38,38,38,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(38,38,38,0)), color-stop(50%,rgba(38,38,38,1)), color-stop(100%,rgba(38,38,38,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(38,38,38,0) 0%,rgba(38,38,38,1) 50%,rgba(38,38,38,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(38,38,38,0) 0%,rgba(38,38,38,1) 50%,rgba(38,38,38,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(38,38,38,0) 0%,rgba(38,38,38,1) 50%,rgba(38,38,38,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(38,38,38,0) 0%,rgba(38,38,38,1) 50%,rgba(38,38,38,0) 100%); /* W3C */
}

.hr-fade-light {
	max-width: 960px;
	height: 3px;
	margin: 20px auto 20px auto;
	border-top: 1px solid $gray-medium;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(left,  rgba(68,68,68,0) 0%, rgba(68,68,68,1) 50%, rgba(68,68,68,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(68,68,68,0)), color-stop(50%,rgba(68,68,68,1)), color-stop(100%,rgba(68,68,68,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* W3C */
}

img {
	max-width: 100%;
	height: auto;
}

@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}










/* Primary Navigation Styles */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	margin: 0;
	padding: 6px 10px;
	border: 0;
	background-color: #1A1A1A;
	background-color: rgba(0,0,0,0.5);
	@include box-shadow(5px, 5px, 5px, $black);
	z-index: 9;
	-webkit-transform: translateZ(0);
}

.logo-container {
	float: left;
	z-index: 11;
}

.logo {
	width: 24px;
	margin: 0 10px 0 0;
	padding: 0;
	display: inline;
	vertical-align: baseline;
}

.logo-copy {
	display: inline;
	position: relative;
	font-size: 2em;

	a{
		color: $red;
		text-decoration: none;
		transition: all 0.3s ease;
	}

	a:hover{
		color: $gray-light;
	}
}

header nav {
	float: right;
	margin: 4px 0 0 0;
	color: #333;
	word-spacing: 15px;
	z-index: 10;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav li {
	margin: 6px 0 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
}

header nav li a, header nav li a:visited {
	text-decoration: none;
	font-family: Orbitron, sans-serif;
	font-size: 1.25em;
	color: $red;
	font-weight: 900;
	border-style: none;	
	line-height: 100%;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
	@include text-shadow(3px, 3px, 5px, $black);
}

header nav li a:hover, header nav li a:active {
	text-decoration: none;
	color: $gray-light;
	border-style: none;
}










/* Type Styles */

h1 {
	font-family: Orbitron, Helvetica, sans-serif;
	font-weight: 900;
	color: $red;
	padding: 0;
	margin: 0;
	@include text-shadow(3px, 3px, 5px, $black);
}

h2 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	color: $red;
	padding: 0;
	margin: 0 0 5px 0;
	@include text-shadow(3px, 3px, 5px, $black);
}

footer h2 {
	color: $gray-light;
}

h3 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: $gray-light;
	padding: 0;
	margin: 0 0 10px 0;	
}

h4 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 2em;
	font-weight: 900;
	color: $red;
	padding: 0;
	margin: 0 0 5px 0;
	@include text-shadow(3px, 3px, 5px, $black);
}

h5 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 3em;
	font-weight: 900;
	letter-spacing: .05em;
	color: $red;
	text-align: center;
	margin: 0 0 10px 0;
	@include text-shadow(3px, 3px, 5px, $black);
}

h6 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: $red;
	margin: 10px 0 0 0;
} 

.section-heading {
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 3em;
}

p {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	color: $white;
	padding: 0;
	margin: 0 0 10px 0;
}

footer p {
	text-align: left;
	color: $white;
}


.copyright {
	margin-top: 20px;
}

.textCenter {
	text-align: center;	
}

.textRt {
	text-align: right;	
}

.byline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: $white;
	padding: 0px;
	margin: 0 20px 10px 0;
}

.nospace {
	word-spacing: normal;	
}










/* Link Styles */

a {
	cursor: pointer;
	text-decoration: none;
}

a, a:visited {
	color: $red;
	border-style: none;	
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	color: $gray-light;
	border-style: none;
	outline: 0;
}

.button {
	font-family: Orbitron, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: $red;
	text-decoration: none;
	border: 1px solid $gray-dark;
	background-color: $gray-dark;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	@include border-radius(10px, 20px, 10px, 20px);
	@include box-shadow(3px, 3px, 5px, $black);
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

.button:hover, .button:active {
	font-family: Orbitron, Arial, sans-serif;
	font-weight: bold;
	color: $gray-light;
	border: 1px solid $gray-light;
	background-color: $gray-medium;
	background-color: rgba(0,0,0,0.5);
}

footer {
	.button {
		color: $gray-light;
		background-color: $gray-dark;
		background-color: rgba(0,0,0,0.2);
	}

	.button:hover, .button:active {
		color: $red;
		background-color: $gray-medium;
		background-color: rgba(0,0,0,0.5);
	}
}

footer a {
	font-family: Orbitron, sans-serif;
	font-size: 1em;
	color: $red;
	font-weight: 900;
	text-decoration: none;
}

footer a:hover, footer a:active {
	font-family: Orbitron, sans-serif;
	font-size: 1em;
	color: $gray-light;
	font-weight: 900;
	text-decoration: none;
}

.call-to-action {
	clear: both;
	display: block;
	width: 256px;
	margin: 5px auto;
	padding: 10px;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}

.call-to-action:hover {
	font-size: 1.25em;
	font-weight: bold;
}

footer .call-to-action {
	width: 90%;
}

p a{
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	color: $red;
	padding: 0;
	margin: 0 0 10px 0;
}


p a:hover, p a:active {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	color: #FFFFFF;
	padding: 0;
	margin: 0 0 10px 0;
}










/*Hero Graphic */

body::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 48px;
  -webkit-transform: translateZ(0);
  z-index: -1;
  background: url("../images/home-logo.png") no-repeat center 64px fixed, url("../images/home-graphic-xl.jpg") no-repeat center 0 fixed ;
  background-size: 336px, cover;
  opacity: 0.75;
}

.home-graphic {
	height: 360px;
	padding-top: 96px;

	h5 {
		font-family: Orbitron, Verdana, sans-serif;
		font-size: 3em;
		font-weight: 900;
		color: $red;
		text-align: center;
		margin-bottom: 10px;
		@include text-shadow(3px, 3px, 5px, $black);
	}	

	p {
		font-size: 2em;
		color: #999999;
		text-align: center;
	}

	.button {
		width: 148px;
	}

}

.home-content .module img {
	display: block;
	margin: 0 auto;
}

.hero-after {
	@include box-shadow(-5px, -5px, 10px, $black);
}










/* Portfolio */

.gallery-content {
	margin: 0 10px 10px 10px;
}

.gallery-content p {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: $white;
	width: 100%;
	height: 2.5em;
	margin: 5px 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gallery-content a {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	color: $white;
	cursor:pointer;	
	margin-right: auto;
	margin-left: auto;
}

.gallery-content img {
	@include border-radius(10px, 30px, 10px, 30px);
	transition: all .25s linear;
}

.gallery-content img:hover {
	border: 1px solid $gray-light;
	box-shadow: 0 0 5px #000;
	transform: scale(1.02);
}

.pinterest-button {
	position: absolute !important;
	bottom: 77px;
	right: 20px;
	margin: 0;
}

#noMarginBot {
	margin-bottom: 0px;
}




/* Services */







/* Forms */

.label1 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	color: $white;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
}

.label2 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	color: $white;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
}

input, textarea, select {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1.25em;
	border: 1px solid $gray-medium;
	padding: 5px;
	margin: 10px 0;
	width: 100%;
	background: $white;
}

.submitReset {
	font-size: 1em;
	width: 112px;
	height: 32px;
	margin-right: 10px;
}

.inputFocus {
	border: 2px solid $red;
}

.noInput {
	background-color: #000;
	border: 2px solid $red;
}


label.error {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: italic;
	color: $red;
	margin-left: 10px;
}

input.error {
	color: $red;
	border: 2px solid $red;
}

#success {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight:bold;
	color: $white;
	text-align:left;
	clear:left;
	margin: 0 0 10px 0;
}










/* Plugin Styles */

.ui-tooltip {
	padding: 5px;
	position: absolute;
	z-index: 9999;
	width: 75%;
	border: 2px solid #4F4F4F;
	@include box-shadow(3px, 3px, 5px, $black);
}

.ui-tooltip-content {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: $white;
}

* html .ui-tooltip {
	background-image: none;
}

body .ui-tooltip { border-width: 2px; }

/* Misc */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }










/* Media Queries */

@media all and (min-width: 480px) and (max-width: 767px) {

	body {
		&::before {
			top: 32px;
			background: url("../images/home-logo.png") no-repeat center 48px fixed, url("../images/home-graphic-xl.jpg") no-repeat center 0 fixed;
	    background-size: 240px, cover;
	    opacity: 0.75;
		}
	}

	header {
		height: 32px;
		padding: 3px 10px; 
	}

	.content-main {
		margin-top: 32px;
		padding-top: 32px;
		padding-bottom: 732px;
	}

	.content-main .container {
		max-width: 480px;
	}

	footer {
		height: 700px;
		margin-top: -700px;
	}	

	footer .container {
		max-width: 480px;
	}

	.logo-container {
		float: left;
	}
	
	.logo {
		width: 16px;
	}

	.logo-copy {
		display: inline;
		position: relative;
		font-size: 1.5em;

		a {
			color: $red;
			text-decoration: none;
		}

		a:hover{
			color: $gray-light;
		}
	}

	#nav-wrap {
		position: relative;
	}

	#menu-icon {
		width: 18px;
		height: 18px;
		margin: 0;
		padding: 0;
		background:url("../images/icon-nav-sm.png") no-repeat center;
		cursor: pointer;
		border: none;
		display: block;
	}

	#menu-icon:hover, #menu-icon:active {
		background:url("../images/icon-nav-sm-hover.png") no-repeat center;
	}

	#nav-menu {
		clear: both;
		position: absolute;
		top: 24px;
		right: 0px;
		width: 140px;
		z-index: 9999;
		padding: 8px 8px;
		text-align: right;
		background-color: #1E1E1E;
		background: rgba(0,0,0,0.6);
		border: none;
		display: none;
		line-height: 32px;
	}

	.home-graphic {
		height: 240px;
		padding-top: 64px;

		h5 {
			font-size: 1.5em;
		}

		p {
			font-size: 1.25em;
		}
	}

	.section-heading {
		font-size: 2em;
	}
	.vrFade {
		border: none;
	}
}
@media all and (min-width: 0px) and (max-width: 479px) {
	
	header {
		height: 32px;
		padding: 3px 10px;
	}

	body {
		&:before {
			top: 32px;
	    background: url("../images/home-logo.png") no-repeat center 48px fixed, url("../images/home-graphic-xl.jpg") no-repeat center 0 fixed ;
	    background-size: 200px, cover;
	    opacity: 0.75;
		}
	}

	.content-main {
		margin-top: 32px;
		padding-top: 32px;
		padding-bottom: 832px;
	}

	footer {
		height: 800px;
		margin-top: -800px;
	}

	.logo-container {
		float: left;
	}

	.logo {
		width: 16px;
	}

	.logo-copy {
		display: inline;
		position: relative;
		font-size: 1.5em;

		a {
			color: $red;
			text-decoration: none;
		}

		a:hover{
			color: $gray-light;
		}
	}

	#nav-wrap {
		position: relative;
	}

	#menu-icon {
		width: 18px;
		height: 18px;
		margin: 0;
		padding: 0;
		background:url("../images/icon-nav-sm.png") no-repeat center;
		cursor: pointer;
		border: none;
		display: block;
	}

	#menu-icon:hover, #menu-icon:active {
		background:url("../images/icon-nav-sm-hover.png") no-repeat center;
	}

	#nav-menu {
		clear: both;
		position: absolute;
		top: 24px;
		right: 0;
		width: 140px;
		z-index: 9999;
		padding: 8px 8px;
		text-align: right;
		background-color: #1E1E1E;
		background: rgba(0,0,0,0.6);
		border: none;
		display: none;
		line-height: 32px;

	}

	.home-graphic {
		height: 200px;
		padding-top: 64px;

		h5 {
			font-size: 1.25em;
		}

		p {
			font-size: 1em;
		}
	}

	.section-heading {
		margin-bottom: 10px;
		font-size: 1.6em;
	}

	.vrFade {
		border: none;
	}

}