@charset "utf-8";
@import 'skeleton';
@import url("jquery.lightbox-0.5.css");
@import url("jquery-ui-1.9.2.custom.min.css");
@import url("owl.carousel.css");
@import url("owl.theme.css");

/*
Site: AaronEtchison.com
Version: 2.2
Date: 01/01/2014
*/

/* TOC
General Styles
Type Styles
Link Styles
Page Styles
Forms
Media Queries
*/

@mixin box-shadow($top, $left, $blur, $color) {
	-webkit-box-shadow:$top $left $blur $color;
	-moz-box-shadow:$top $left $blur $color;
	box-shadow:$top $left $blur $color;
}

@mixin text-shadow($top, $left, $blur, $color) {
	-webkit-text-shadow:$top $left $blur $color;
	-moz-text-shadow:$top $left $blur $color;
	text-shadow:$top $left $blur $color;
}
	
@mixin border-radius($tleft, $tright, $bright, $bleft) {
	-webkit-border-radius:$tleft $tright $bright $bleft;
	-moz-border-radius:$tleft $tright $bright $bleft;
	border-radius:$tleft $tright $bright $bleft;
}

@mixin linear-gradient($top, $color, $color) {
-webkit-linear-gradient:$top $color $color;
-moz-linear-gradient:$top $color $color;
-o-linear-gradient:$top $color $color;
linear-gradient:$top $color $color;
}

/* General Styles */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

html, body {
	height: 101%;
	font-size: 16px;
}

body {
	background-color: #000;
	background-image: url("../images/dark_mosaic.png");
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 100%;
	margin: 0 0 20px 0;
	padding: 5px 5px 0 5px;
	border: 0;
	background: rgba(0,0,0,0.5);
	@include box-shadow(5px, 5px, 10px, #0E0E0E);
}

.logo-container {
	float: left;
	z-index: 11;
}

.logo {
	width: 24px;
	margin: 0;
	padding: 0;
	display: inline;
	vertical-align: baseline;
}

.logo-copy {
	margin: 0 0 0 5px;
	padding: 0;
	display: inline;
	position: relative;
}

header nav {
	float: right;
	margin: 9px 0 0 0;
	color: #333;
	word-spacing: 15px;
	z-index: 10;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
}

footer {
	width: 100%;
	height: 500px;
	margin: 20px auto 0 auto;
	padding: 20px 10px;
	background: rgba(0,0,0,0.5);
	@include box-shadow(-5px, -5px, 5px, #0E0E0E)
}

footer .icon-avatar {
	float: left;
	width: 64px;
	height: auto;
	margin-right: 10px;
	padding: 0;
}

.icon-group {
	clear: both;
	width: 300px;
	margin: 0 auto;
}

.icon-social {
	max-width: 64px;
	height: auto;
	margin: 0 16px;
	padding: 0;
	@include box-shadow(3px, 3px, 10px, #0E0E0E);
}

.home-graphic {
	background-image: url("../images/home-graphic-xlarge.jpg");
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 324px;
	margin-bottom: 10px;
	@include border-radius(10px, 10px, 10px, 10px);
	@include box-shadow(3px, 3px, 10px, #0E0E0E);
}

.home-content .module img {
	display: block;
	margin: 0 auto;
}

/* Type Styles */

h1 {
	font-family: Orbitron, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 900;
	color: #B01817;
	padding: 0;
	margin: 0;
	@include text-shadow(3px, 3px, 5px, #000000);
}

h2 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	color: #B01817;
	cursor:pointer;
	padding: 0;
	margin: 0 0 5px 0;
	@include text-shadow(3px, 3px, 5px, #000000);
}

h3 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #CCCCCC;
	cursor:pointer;
	padding: 0;
	margin: 0 0 10px 0;	
}

h4 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 2em;
	font-weight: 900;
	color: #B01817;
	cursor:pointer;
	padding: 0;
	margin: 0 0 5px 0;
	@include text-shadow(3px, 3px, 5px, #000000);
}

.home-graphic h5 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 3em;
	font-weight: 900;
	color: #B01817;
	text-align: center;
	margin: 80px 0 10px 0;
	@include text-shadow(3px, 3px, 5px, #000000);
}

h6 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #B01817;
	margin: 10px 0 0 0;
} 

p {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	color: #CCCCCC;
	padding: 0;
	margin: 0 0 10px 0;
}

.home-graphic p {
	font-size: 2em;
	color: #999999;
	text-align: center;
}

footer p {
	text-align: left;
	color: #CCCCCC;
}


.copyright {
	margin-top: 20px;
}

.textCenter {
	text-align: center;	
}

.textRt {
	text-align: right;	
}

.byline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #CCCCCC;
	padding: 0px;
	margin: 0 20px 10px 0;
}

.nospace {
	word-spacing: normal;	
}

/* Link Styles */
.button {
	font-family: Orbitron, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #666666;
	border: 1px solid #161616;
	@include border-radius(0.5em, 0.5em, 0.5em, 0.5em);
	background-color: #262626;
}

.button:hover, .button:active {
	font-family: Orbitron, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #B01817;
	border: 1px solid #666666;
	@include border-radius(0.5em, 0.5em, 0.5em, 0.5em);
	background-color: #262626;
}

header nav li a {
	text-decoration: none;
	font-family: Orbitron, sans-serif;
	font-size: 1.25em;
	color: #B01817;
	font-weight: 900;
	border-style: none;	
	line-height: 100%;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
	@include text-shadow(3px, 3px, 5px, #000000);
}

header nav li a:hover, header nav li a:active {
	font-family: Orbitron, sans-serif;
	font-size: 1.25em;
	color: #cccccc;
	text-decoration: none;
	font-weight: 900;
	border-style: none;
}

.logo-copy a{
	color: #B01817;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.logo-copy a:hover{
	color: #cccccc;
}

footer a {
	font-family: Orbitron, sans-serif;
	font-size: 1em;
	color: #B01817;
	font-weight: 900;
	text-decoration: none;
}

footer a:hover, footer a:active {
	font-family: Orbitron, sans-serif;
	font-size: 1em;
	color: #cccccc;
	font-weight: 900;
	text-decoration: none;
}

.call-to-action {
	clear: both;
	display: block;
	width: 260px;
	height: 32px;
	margin: 5px auto;
	padding: 4px;
	text-align: center;
}

p a{
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	color: #B01817;
	padding: 0;
	margin: 0 0 10px 0;
}


p a:hover, p a:active {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	color: #FFFFFF;
	padding: 0;
	margin: 0 0 10px 0;
}

/* Box Styles */

.module {
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	@include border-radius(10px, 10px, 10px, 10px);	
	@include box-shadow(3px, 3px, 5px, #000000);
}

.noPad {
	padding: 0;	
}

.rtFloat {
	float: right;
}

.ltFloat {
	float: left;
	margin-right: 10px;
}

/* Replace rtFloat and ltFloat with these more semantic classes
.box-left {
	float: left;
}

.box-right {
	float: right;
}

.box-center {
	margin: 0 auto;
}
*/

hr {
	border: 1px solid #444444;
}

.vrFade {
	border-right: 1px solid #444444; 
}

.hrFade {
	max-width: 100%;
	height: 2px;
	margin: 20px auto 20px auto;
	border-top: 1px solid #000000;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(left,  rgba(68,68,68,0) 0%, rgba(68,68,68,1) 50%, rgba(68,68,68,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(68,68,68,0)), color-stop(50%,rgba(68,68,68,1)), color-stop(100%,rgba(68,68,68,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 50%,rgba(68,68,68,0) 100%); /* W3C */
}

img {
	max-width: 100%;
	height: auto;
}

@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}

/* Forms */

.label1 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	color: #CCCCCC;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
}

.label2 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	color: #CCCCCC;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
}

input, textarea, select {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1.25em;
	border: 1px solid #262626;
	padding: 5px;
	margin: 10px 0;
	width: 100%;
	background: #CCCCCC;
}

.submitReset {
	font-size: 1em;
	width: 128px;
	height: 32px;
}

.submitReset:hover, .submitReset:active {
	font-size: 1em;
	width: 128px;
	height: 32px;
}

.inputFocus {
	border: 2px solid #b01817;
}

.noInput {
	background-color: #000;
	border: 2px solid #b01817;
}


label.error {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: italic;
	color: #B01817;
	margin-left: 10px;
}

input.error {
	color: #b01817;
	border: 2px solid #b01817;
}

#success {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight:bold;
	color: #CCCCCC;
	text-align:left;
	clear:left;
	margin: 0 0 10px 0;
}

/* Portfolio */

.portfolioH {
	margin: 0 0 10px 0;
	text-align: center;
}

.galleryContent {
	margin: 0 10px;
	max-height: 480px;
}

.galleryContent p {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #CCCCCC;
	height: 2.2em;
	margin: 5px 0 0 0;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}

.galleryContent a {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	color: #CCCCCC;
	cursor:pointer;	
	margin-right: auto;
	margin-left: auto;
}

#noMarginBot {
	margin-bottom: 0px;
}

/* Plugin Styles */

.ui-tooltip {
	padding: 5px;
	position: absolute;
	z-index: 9999;
	width: 75%;
	border: 2px solid #4F4F4F;
	@include box-shadow(3px, 3px, 5px, #000000);
}

.ui-tooltip-content {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #CCCCCC;
}

* html .ui-tooltip {
	background-image: none;
}

body .ui-tooltip { border-width: 2px; }

/* Misc */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	
/* Media Queries */

@media only screen and (max-width: 959px) {}
@media only screen and (min-width: 768px) and (max-width: 959px) {}
@media only screen and (max-width: 767px) {}
@media only screen and (min-width: 480px) and (max-width: 767px) {}
@media only screen and (max-width: 479px) {}

@media all and (min-width: 768px) and (max-width: 959px) {

	.home-graphic {
		background-image: url("../images/home-graphic-large.jpg");
		height: 259px;
	}

	.home-graphic h5 {
		margin-top: 50px;
	}

}
@media all and (min-width: 480px) and (max-width: 767px) {
	.logo-container {
		float: left;
	}

	.logo-copy {
		text-decoration: none;
	}

	header nav {
		margin: 5px 0 0 0;
	}

	header nav li {
		margin: 5px 0 0 0;
	}

	#nav-wrap {
		position: relative;
	}

	#menu-icon {
		width: 24px;
		height: 24px;
		margin: 2px 0 0 0;
		padding: 0;
		background:url("../images/icon-nav.png") no-repeat center;
		cursor: pointer;
		border: none;
		display: block;
	}

	#nav-menu {
		clear: both;
		position: absolute;
		top: 32px;
		right: 5px;
		width: 140px;
		z-index: 1000;
		padding: 8px 5px;
		text-align: right;
		background: rgba(0,0,0,0.5);
		border: none;
		@include border-radius(10px, 2px, 2px, 10px);
		display: none;
	}

	.home-graphic {
		background-image: url("../images/home-graphic-medium.jpg");
		height: 162px; 
	}

	.home-graphic h5 {
		font-size: 2em;
		margin-top: 30px;
	}

	.home-graphic p {
		font-size: 1.5em;
	}

	.vrFade {
		border: none;
	}

}
@media all and (min-width: 0px) and (max-width: 479px) {
	.logo-container {
		float: left;
		padding: 5px 0;
	}

	.logo {
		width: 16px;
	}

	.logo-copy {
		font-size: 1.25em;
	}

	header nav {
		margin: 5px 0 0 0;
	}

	header nav li {
		margin: 5px 0 0 0;
	}

	#nav-wrap {
		position: relative;
	}

	#menu-icon {
		width: 16px;
		height: 16px;
		margin: 2px 0 0 0;
		padding: 0;
		background:url("../images/icon-nav-sm.png") no-repeat center;
		cursor: pointer;
		border: none;
		display: block;
	}

	#nav-menu {
		clear: both;
		position: absolute;
		top: 24px;
		right: 5px;
		width: 140px;
		z-index: 1000;
		padding: 8px 5px;
		text-align: right;
		background: rgba(0,0,0,0.5);
		border: none;
		@include border-radius(10px, 2px, 2px, 10px);
		display: none;
	}

	.home-graphic {
		background-image: url("../images/home-graphic-medium.jpg");
		height: 162px;
	}

	.home-graphic h5 {
		font-size: 1.4em;
		margin-top: 40px;
	}

	.home-graphic p {
		font-size: 1.2em;
	}

	.vrFade {
		border: none;
	}

}