@charset "utf-8";

/*
Site: AaronEtchison.com
Version: 2.2
Date: 01/01/2014
*/

/* TOC
General Styles
Primary Navigation Styles
Type Styles
Link Styles
Page Styles
Forms
Media Queries
*/

$white: #FFFFFF;
$white-trans-light: rgba(255,255,255,0.3);
$white-trans-dark: rgba(255,255,255,0.6);
$gray-light: #999999;
$gray-medium: #555555;
$gray-dark: #161616;
$black: #000000;
$black-trans-light: rgba(0,0,0,0.1);
$black-trans-dark: rgba(0,0,0,0.3);
$red: #B01817;
$red-dark: #410002;
$red-trans: rgba(68,0,2,0.5);

/* Fonts */

/* aldrich-regular - latin */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aldrich-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Aldrich'),
       url('../fonts/aldrich-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/aldrich-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/aldrich-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/aldrich-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/aldrich-v6-latin-regular.svg#Aldrich') format('svg'); /* Legacy iOS */
}

/* geo-regular - latin */
@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/geo-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Geo'), local('Geo-Regular'),
       url('../fonts/geo-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/geo-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/geo-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/geo-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/geo-v8-latin-regular.svg#Geo') format('svg'); /* Legacy iOS */
}

/* orbitron-regular - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/orbitron-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Orbitron-Light'), local('Orbitron-Regular'),
       url('../fonts/orbitron-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-v7-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* orbitron-500 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/orbitron-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Orbitron-Medium'),
       url('../fonts/orbitron-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-v7-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-v7-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-v7-latin-500.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* orbitron-700 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/orbitron-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Orbitron-Bold'),
       url('../fonts/orbitron-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-v7-latin-700.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* orbitron-900 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/orbitron-v7-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Orbitron-Black'),
       url('../fonts/orbitron-v7-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-v7-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-v7-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-v7-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-v7-latin-900.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* questrial-regular - latin */
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/questrial-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Questrial'), local('Questrial-Regular'),
       url('../fonts/questrial-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/questrial-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/questrial-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/questrial-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/questrial-v6-latin-regular.svg#Questrial') format('svg'); /* Legacy iOS */
}


/* General Styles */

* {
	box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(176, 24, 23, 1);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

html, body, .container-main {
	height: 100%;
	font-size: 16px;
}

body {
	background-color: $white;
	margin: 0;
	padding: 0;
	height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: -1;
  background: url("../images/bg_3dhex-lg.jpg") no-repeat center 0 fixed ;
  background-size: cover;
}

img {
	max-width: 100%;
	height: auto;
}

@keyframes screen-load {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.icon-group {
  max-width: 920px;
  margin: 0 auto;
}

.icon-social {
  display: inline-block;
  max-width: 160px;
  margin-right: 20px;
}

.icon-social:hover, .icon-social:focus {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.icon-contact {
  display: inline-block;
  color: $red;
  font-size: 1em;
  
  img {
    float: left;
    margin: -8px 8px 0 0;
  }
}

/* Type Styles */

h1 {
  font-family: Orbitron, Helvetica, sans-serif;
  font-size: 5em;
	font-weight: 900;
	color: $red;
	padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-shadow: .5px .5px 1px $black;
}

h2 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 6em;
	font-weight: 900;
	line-height: 1.4;
	color: $red;
	padding: 0;
	margin: 0 0 8px 0;
	text-shadow: .5px .5px 1px $black;
}

h3 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1.6875em;
	font-weight: 900;
	line-height: 1.4;
	color: $red;
	padding: 0;
}

img + h3 {
	margin-top: 16px;
}

h4 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: $white;
	padding: 0;
	margin: 0 0 10px 0;	
}

h5 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 3em;
	font-weight: 900;
	letter-spacing: .05em;
	color: $red;
	text-align: center;
	margin: 0 0 10px 0;
	text-shadow: 1px 1px 2px $black;
}

h6 {
	font-family: Orbitron, Verdana, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	color: $red;
	margin: 10px 0 0 0;
} 

p {
	font-family: Questrial, Helvetica, sans-serif;
	font-size: 1.125em;
	line-height: 1.4em;
	color: $black;
	padding: 0;
	margin: 0 0 10px 0;
}

.copyright {
	margin-top: 20px;
}

.textCenter {
	text-align: center;	
}

.textRt {
	text-align: right;	
}

.byline {
	font-style: italic;
	font-size: 0.8em;
	color: $gray-medium;
	padding: 0px;
	margin: 0 20px 10px 0;
}

.nospace {
	word-spacing: normal;	
}

*::selection {
	color: $red;
	background-color: $black;
}

/* Primary Layout Styles */
main {

}

.card {
  padding: 16px;
  background-color: $white-trans-light;
  box-shadow: 0px 0px 4px 2px $black-trans-dark;
  border-radius: 8px 16px 8px 16px;
  animation: screen-load 1s 0.5s ease-in;
}
  


/* Page Layout Styles */
/**Home**/
/***Home Intro***/
.intro-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(16, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  justify-content: stretch;
  align-content: stretch;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
}

.section-heading {
  grid-row: 1;
  grid-column: 1 / 17;
  animation: screen-load 1s ease-in;

  h1, h2, h3 {
    text-align: center;
  }
}

.icon-avatar {
  float: left;
  width: 64px;
  margin: 0 16px 16px 0;
}

.intro-hex {
  grid-row: 2;
  grid-column: 1 / 17;
  justify-self: center;
  width: 414px;
  height: 414px;
}

.hex-container {
  position: relative;
  margin: 0 auto 20px auto;
}

@keyframes hexagon {
  0% { transform: scale(1)}
  50% { transform: scale(1.25)}
  100% { transform: scale(1)}
}

.hex1 {
  position: absolute;
  top: 128px;
  left: 144px;
  width: 128px;
  height: 148px;
  animation: hexagon 0.75s 1.5s ease-in;
}

.hex2 {
  position: absolute;
  left: 72px;
  width: 128px;
  height: 148px;
  animation: hexagon 0.75s 0s ease-in;
}

.hex3 {
  position: absolute;
  left: 220px;
  width: 128px;
  height: 148px;
  animation: hexagon 0.75s 0.25s ease-in;
}

.hex4 {
  position: absolute;
  top: 128px;
  left: 286px;
  width: 128px;
  height: 148px;
  animation: hexagon 0.75s 0.5s ease-in;
}

.hex5 {
  position: absolute;
  top: 254px;
  left: 220px;
  width: 128px;
  height: 148px;
  animation: hexagon 0.75s 0.75s ease-in;
}

.hex6 {
  position: absolute;
  top: 254px;
  left: 72px;
  width: 128px;
  height: 148px;
  animation: hexagon 0.75s 1s ease-in;
}

.hex7 {
  position: absolute;
  top: 128px;
  width: 128px;
  height: 148px;
  animation: hexagon 0.75s 1.25s ease-in;
}

.intro-about {
  grid-row: 3;
  grid-column: 3 / 15;
  text-align: center;
}

.intro-contact {
  grid-row: 5;
  grid-column: 1 / 17;
  display: flex;
  justify-content: space-around;
  animation: screen-load 1s 0.5s ease-in;
}

.intro-social {
  grid-row: 6;
  grid-column: 6 / 12;
  display: flex;
  justify-content: space-around;
  animation: screen-load 1s 1s ease-in;
}

/* Skills Progress Radial Bars */
/*
Progress Circles inspired by Anders Ingemann
.circle .mask.full, .circle .fill
	rotate 1.8deg++ starting at 0deg
.circle .fill.fix
	rotate 3.6deg++ starting at 0deg
.inset .percentage .numbers
	width 57px++ starting at 57px
*/

.intro-skills {
  grid-row: 4;
  grid-column: 1 / 17;
  justify-self: center;
  display: flex;
	flex-wrap: wrap;
}
.progress {
  margin: 0 20px 10px 20px;
  width: 60px;
  height: 60px;
  /*background-color: #d6dadc;*/
  border-radius: 50%;
}
.progress .circle .mask,
.progress .circle .fill,
.progress .circle .shadow {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
}
.progress .circle .shadow {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.progress .circle .mask,
.progress .circle .fill {
  -webkit-backface-visibility: hidden;
  border-radius: 50%;
}
.progress .circle .mask {
  clip: rect(0px, 60px, 60px, 30px);
}
.progress .circle .mask .fill {
  clip: rect(0px, 30px, 60px, 0px);
  background-color: #b01817;
}
.progress .inset {
  width: 40px; /*90px*/
  height: 40px; /*90px*/
  position: absolute;
  margin-left: 10px; /*15px*/
  margin-top: 10px; /*15px*/
  background-color: #fbfbfb;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.progress .inset span {
  display: inline-block;
	position: absolute;
	top: 15px;
	left: 8.25px;
	width: 28.5px;
	height: 11px;
  vertical-align: top;
	line-height: 1;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-family: Orbitron, Verdana, sans-serif;
  color: #b01817;
}

.progress-title p {
  width: 100%;
  color: $red;
	text-align: center;
}

.progress.progress-10 .circle .mask.full,
.progress.progress-10 .circle .fill {
  transform: rotate(18deg);
}
.progress.progress-10 .circle .fill.fix {
  transform: rotate(36deg);
}

.progress.progress-20 .circle .mask.full,
.progress.progress-20 .circle .fill {
  transform: rotate(36deg);
}
.progress.progress-20 .circle .fill.fix {
  transform: rotate(72deg);
}

.progress.progress-30 .circle .mask.full,
.progress.progress-30 .circle .fill {
  transform: rotate(54deg);
}
.progress.progress-30 .circle .fill.fix {
  transform: rotate(108deg);
}

.progress.progress-40 .circle .mask.full,
.progress.progress-40 .circle .fill {
  transform: rotate(72deg);
}
.progress.progress-40 .circle .fill.fix {
  transform: rotate(144deg);
}

.progress.progress-50 .circle .mask.full,
.progress.progress-50 .circle .fill {
  transform: rotate(90deg);
}
.progress.progress-50 .circle .fill.fix {
  transform: rotate(180deg);
}

.progress.progress-60 .circle .mask.full,
.progress.progress-60 .circle .fill {
  transform: rotate(108deg);
}
.progress.progress-60 .circle .fill.fix {
  transform: rotate(216deg);
}

.progress.progress-70 .circle .mask.full,
.progress.progress-70 .circle .fill {
  transform: rotate(126deg);
}
.progress.progress-70 .circle .fill.fix {
  transform: rotate(252deg);
}

.progress.progress-80 .circle .mask.full,
.progress.progress-80 .circle .fill {
  transform: rotate(144deg);
}
.progress.progress-80 .circle .fill.fix {
  transform: rotate(288deg);
}

.progress.progress-90 .circle .mask.full,
.progress.progress-90 .circle .fill {
  transform: rotate(162deg);
}
.progress.progress-90 .circle .fill.fix {
  transform: rotate(324deg);
}

.progress.progress-100 .circle .mask.full,
.progress.progress-100 .circle .fill {
  transform: rotate(180deg);
}
.progress.progress-100 .circle .fill.fix {
  transform: rotate(360deg);
}

/***Home Projects***/

.projects-grid {
  display: grid;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
}

.projects-cards {
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  display: flex;
}

.projects-card {
  margin: 16px;
}

/***Home Designs***/

.designs-grid {
  display: grid;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
}

.designs-cards {
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  display: flex;
}

.designs-card {
  margin: 16px;
}

